@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.main-cont {
    background: #F4F6F4;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.desc-header {
    width: 100%;
    height: auto;
    text-align: center;  
}

.desc-header img {
    width: 90%;
}

.desc-header p {
    font-size: 2em;
    color:  #207DB6;
}

.cont-header {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cont-header h1 {
    color: #193753;
}

.cont-header form {
    width: 450px;
    height: auto;
    padding: 1em;
    margin: 2em;
    border-radius: 1em;
}

.cont-header form label {
    display: block;
    padding: 10px;
}

.control-label{
display: block;
padding-left: 10px;
}
.utility {
    display: flex;
    padding: 1px;
    align-items: left;
}

.alert {
    color: red;
}